nav ul{
   display: flex;
   justify-content: center;
}
nav li{
   list-style: none;
   margin-right: 6px;
   background-color: aqua;
   padding: 10px;
   border-radius: 10px;
}
nav li:hover{
   background: hotpink;
}
nav a{
   text-decoration: none;
}
#nirobb input{
   display: block;
   margin-top: 5px;
   padding: 5px;
}
#boss label{
   display: block;
   margin-top: 5px;
   width: 200px;

}
#boss{
  margin-top: 10px;
   width: 200px;

}
#king{
   margin-top: 10px;
   width: 200px;


}
#king label{
   display: block;
   margin-top: 5px;

}
#parent{
   padding: 10px;
   background: hotpink;
   display: flex;
   margin-top: 10px;
   gap: 20px;
   justify-content: center;
}
.child{
   background: rgb(134, 207, 221);
   padding: 20px;
   border: 4px solid rgb(60, 216, 102);
   border-radius: 10px;
   

}